<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/homePage.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Contact Us</h1>
        </header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Benefits of working out</li>
                <li>Basic Exercises</li>
                <li>Talk with us</li>
            </ul>
        </nav>
        <main>
        </main>
        <footer>
            <div>
                <p>&copy; 2024 Fitness Page</p>
            </div>
        </footer>
    </div>
</body>
</html>