<!DOCTYPE html>
<html lang="eng">
<head>
    <title>List of exercises</title>
    <link rel="stylesheet" href="../css/homePage.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="container">
                <nav>
                    <div class="logo">
                        <h2>Fitness Page</h2>
                    </div>
                    <ul>
                        <li><a href="/UCD_web_design_assignment/">Home</a></li>
                        <li><a href="/resources/UCD_web_design_assignment/views/benefits.html">Benefits</a></li>
                        <li><a href="/resources/UCD_web_design_assignment/views/exercise.html">Exercises</a></li>
                        <li><a href="/resources/UCD_web_design_assignment/views/improvement_stories.html">Stories</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="content">
                <fieldset>
                    <legend>Burpees</legend>
                    <p>
                        A burpee sounds like something that should be silly. It isn’t.
                    </p>
                    <h2>How to do burpees</h2>
                    <ol>
                        <li>Begin in a standing position. Position your feet shoulder-width apart. Keep your back straight, your chest out and your arms at your sides.</li>
                        <li>Drop into a squat. Bend your knees, driving them out slightly past your toes, while bringing your butt down. Keep your feet flat on the floor. Place your hands on the floor (palms down) in front of your feet.</li>
                        <li>Kick your legs back into a high plank position. Your body should be in a straight line from shoulders to heels. Lock your arms in place. Keep your head straight, eyes looking slightly ahead. (“You’re going to feel some core activation,” says Nykor.)</li>
                        <li>Lower toward the ground. Bend your elbows and bring your body toward the floor. (Basically, the bottom part of a push-up.) Keep your body straight and your core tight.</li>
                        <li>Rise back to high plank. Focus on keeping your body straight.</li>
                        <li>Return to a squat position. Jump your legs forward. When you land, make sure your feet are flat on the floor. (Your positioning at the end of this move should be the same as in Step 2.).</li>
                        <li>Jump! Reach your arms up as you launch toward the ceiling. “It should be an explosive jump,” says Nykor. Land in the original standing position and then go back to Step 1 and restart the process.
                        </li>
                    </ol>
                    <figure class="gallery">
                        <iframe src="https://www.youtube.com/embed/xQdyIrSSFnE" title="How to do burpees correctly" allowfullscreen></iframe>
                    </figure>
                </fieldset>
                <fieldset>
                    <legend>Jumping Jacks</legend>
                    <p>This exercise is done lying down on a flat bench and pressing a barbell up and down at chest height. It works the pectoral muscles, shoulders, and arms.
                    </p>
                    <h2>How to do jumping jack exercise</h2>
                    <ol>
                        <li>To do the Basic Jumping Jack, start standing nice and tall with your feet together and arms down by your sides.</li>
                        <li>You will then jump both your feet out to the sides so that your feet are shoulder-width apart or wider. As you jump your feet out wide, raise your arms up to the sides and overhead.</li>
                        <li>Then bring your arms back down to your sides as you jump your feet back in together.</li>
                        <li>Repeat, jumping your feet out wide as you raise your arms out to the sides and overhead.</li>
                        <li>You can move quickly to get your blood pumping or even slow it down a bit if you are using for an active recovery move.</li>
                        <li>Beginners or anyone with knee pain, may need to regress the move to the Step Jack below.</li>
                    </ol>
                    <figure class="gallery">
                        <iframe src="https://www.youtube.com/embed/pFgaOr87HU4" title="Explaining jumping jacks exercise" allowfullscreen></iframe>
                    </figure>
                </fieldset>
                <fieldset>
                    <legend>Bench Press</legend>
                    <p>This exercise is done lying down on a flat bench and pressing a barbell up and down at chest height. It works the pectoral muscles, shoulders, and arms.
                    </p>
                    <h2>How to do a bench press</h2>
                    <ol>
                        <li>Lie back on a flat bench holding a barbell in the rack above you with a shoulder-width, overhand grip.</li>
                        <li>Drive your feet into the floor to contract your quads and glutes, and clamp back your shoulder blades to shorten the weight's path of travel. This increases neural drive to your chest, delts and triceps.</li>
                        <li>From the starting position, breathe in and lower the bar slowly until it skims the middle of your chest.</li>
                        <li>Focus your mind on activating your chest muscles and push the bar back to the starting position explosively as you breathe out. Thats one rep.</li>
                    </ol>
                    <figure class="gallery">
                        <iframe src="https://www.youtube.com/embed/rxD321l2svE" title="Explaining bench press exercise" allowfullscreen></iframe>
                    </figure>
                </fieldset>
            </div>
        </main>
        <footer>
            <div>
                <p>&copy; 2024 Fitness Page</p>
            </div>
        </footer>
    </div>
</body>
</html>
