body {
    background-color: #181818;
}

header {
    display: flex;
    background-color: #5cadcb;
    width: 100%;
    justify-content: center;
    color: #181818;
    height: 90px;
    border-radius: 10px;
}

header {
    grid-area: h;
}
nav {
    grid-area: n;
}
main {
    grid-area: m;
}
footer {
    grid-area: f;
}

#wrapper {
    color: #5cadcb; 
    display: grid;
    grid-template:
        "h "
        "n "
        "m"
        "f";
}

main {
    display: grid;
    justify-content: center;
    padding: 10px;
}

nav ul, li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

nav li {
    background-color: #181818;
    padding: 10px;
    list-style-type: none;
    border: solid #5cadcb 1px;
}

nav li:hover {
    background-color: #5cadcb;
    color: #181818;
    cursor: pointer;
}

.gallery {
    display: grid;
    justify-content: center;
    padding: 10px;
}

.content h1, h2{
    display: grid;
    justify-content: center;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #5cadcb;
    color: #181818;
    border-radius: 10px;
}

@media (min-width: 27em) {
    nav ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    nav li {
        margin: 10px;
    }

    .content p{
        display: grid;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        color: #FFFFFF;
        
    }

    #wrapper {
      grid-template:
        " h "
        " n "
        " m "
        " f "
        / 100%;
    }
}

@media (min-width: 38em) {
    .content p {
        display: grid;
        justify-content: center;
        padding-left:400px;
        padding-right: 400px;
        color: #FFFFFF;
    }
    
    #wrapper {
      grid-template:
        " h   h "
        " n   n "
        " m   m "
        " f   f "
        / 60% 40%;
    }
}

@media (min-width: 65em) {
    nav ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;;
    }

    nav li {
        margin: 10px;
        z-index: 9999;
    }

    main {
        margin-left: -270px;
    }

    .content p {
        display: grid;
        justify-content: center;
        padding-left:400px;
        padding-right: 400px;
        color: #FFFFFF;
    }

    #wrapper {
    grid-template:
        " h   h   h"
        " n   m   m"
        " f   f   f"
        / 250px 1fr 30%;
    }
}